/* MWeb：增大字体，便于阅读 */
#render-container  {
	font-size: 16px;
	min-width: 200px;
	max-width: 760px;
	padding: 1rem;
	color: #333;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizelegibility;
	/* 内外边距通常让各个浏览器样式的表现位置不同 */
	/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
	/* HTML5 媒体文件跟 img 保持一致 */
	/* 要注意表单元素并不继承父级 font 的问题 */
	/* 去掉各Table cell 的边距并让其边重合 */
	/* 去除默认边框 */
	/* 块/段落引用 */
	/* Firefox 以外，元素没有下划线，需添加 */
	/* 添加鼠标问号，进一步确保应用的语义是正确的（要知道，交互他们也有洁癖，如果你不去掉，那得多花点口舌） */
	/* 一致的 del 样式 */
	/* 去掉列表前的标识, li 会继承，大部分网站通常用列表来很多内容，所以应该当去 */
	/* 对齐是排版最重要的因素, 别让什么都居中 */
	/* 统一上标和下标 */
	/* 让链接在 hover 状态下显示下划线 */
	/* 默认不显示下划线，保持页面简洁 */
	/* 专名号：虽然 u 已经重回 html5 Draft，但在所有浏览器中都是可以使用的，
	* 要做到更好，向后兼容的话，添加 class="typo-u" 来显示专名号
	* 关于 <u> 标签：http://www.whatwg.org/specs/web-apps/current-work/multipage/text-level-semantics.html#the-u-element
	* 被放弃的是 4，之前一直搞错 http://www.w3.org/TR/html401/appendix/changes.html#idx-deprecated
	* 一篇关于 <u> 标签的很好文章：http://html5doctor.com/u-element/
	*/
	/* 标记，类似于手写的荧光笔的作用 */
	/* 一致化 horizontal rule */
	/* 底部印刷体、版本等标记 */
	/* 可拖动文件添加拖动手势 */
	/* 强制文本换行 */
	/* 提供 serif 版本的字体设置: iOS 下中文自动 fallback 到 sans-serif */
	/* 保证块/段落之间的空白隔行 */
	/* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优化 */
	/* 在文章中，应该还原 ul 和 ol 的样式 */
	/* 同 ul/ol，在文章中应用 table 基本格式 */
	/* 去除 webkit 中 input 和 textarea 的默认样式  */
	/* 着重号，只能在少量（少于100个字符）且全是全角字符的情况下使用 */
	/* Responsive images */
	/* 代码片断 */
}

#render-container  dl,
#render-container  dt,
#render-container  dd,
#render-container  ul,
#render-container  ol,
#render-container  li,
#render-container  h1,
#render-container  h2,
#render-container  h3,
#render-container  h4,
#render-container  h5,
#render-container  h6,
#render-container  pre,
#render-container  code,
#render-container  form,
#render-container  fieldset,
#render-container  legend,
#render-container  input,
#render-container  textarea,
#render-container  p,
#render-container  blockquote,
#render-container  th,
#render-container  td,
#render-container  hr,
#render-container  button,
#render-container  article,
#render-container  aside,
#render-container  details,
#render-container  figcaption,
#render-container  figure,
#render-container  footer,
#render-container  header,
#render-container  menu,
#render-container  nav,
#render-container  section {
	margin: 0;
	padding: 0;
}

#render-container  article,
#render-container  aside,
#render-container  details,
#render-container  figcaption,
#render-container  figure,
#render-container  footer,
#render-container  header,
#render-container  menu,
#render-container  nav,
#render-container  section {
	display: block;
}

#render-container  audio,
#render-container  canvas,
#render-container  video {
	display: inline-block;
}

#render-container  button,
#render-container  input,
#render-container  select,
#render-container  textarea {
	font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

#render-container  table {
	border-collapse: collapse;
	border-spacing: 0;
}

#render-container  fieldset,
#render-container  img {
	border: 0;
}

#render-container  blockquote {
	position: relative;
	color: #999;
	font-weight: 400;
	border-left: 1px solid #1abc9c;
	padding-left: 1em;
	margin: 1em 3em 1em 2em;
}

@media only screen and (max-width: 1080px) {
	#render-container  blockquote {
		margin: 1em 0;
	}
}

#render-container  acronym,
#render-container  abbr {
	border-bottom: 1px dotted;
	font-variant: normal;
	text-decoration: none;
}

#render-container  abbr {
	cursor: help;
}

#render-container  del {
	text-decoration: line-through;
}

#render-container  address,
#render-container  caption,
#render-container  cite,
#render-container  code,
#render-container  dfn,
#render-container  em,
#render-container  th,
#render-container  var {
	font-style: normal;
	font-weight: 400;
}

#render-container  ul,
#render-container  ol {
	list-style: none;
}

#render-container  caption,
#render-container  th {
	text-align: left;
}

#render-container  q:before,
#render-container  q:after {
	content: "";
}

#render-container  sub,
#render-container  sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

#render-container  sub,
#render-container  sup {
	vertical-align: baseline;
	/* for ie9 and other modern browsers */
}

#render-container  sup {
	top: -0.5em;
}

#render-container  sub {
	bottom: -0.25em;
}

#render-container  a {
	color: #1abc9c;
}

#render-container  a:hover {
	text-decoration: underline;
}

#render-container  a {
	border-bottom: 1px solid #1abc9c;
}

#render-container  a:hover {
	border-bottom-color: #555;
	color: #555;
	text-decoration: none;
}

#render-container  ins,
#render-container  a {
	text-decoration: none;
}

#render-container  u,
#render-container  .typo-u {
	text-decoration: underline;
}

#render-container  mark {
	background: #fffdd1;
	border-bottom: 1px solid #ffedce;
	padding: 2px;
	/* margin: 0 5px; */
}

#render-container  hr {
	border: none;
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 0.8em;
	height: 10px;
}

#render-container  small,
#render-container  .typo-small,
#render-container  figcaption {
	font-size: 0.9em;
	color: #888;
}

#render-container  strong,
#render-container  b {
	font-weight: bold;
	color: #000;
}

#render-container  [draggable] {
	cursor: move;
}

#render-container  .clearfix:before,
#render-container  .clearfix:after {
	content: "";
	display: table;
}

#render-container  .clearfix:after {
	clear: both;
}

#render-container  .clearfix {
	zoom: 1;
}

#render-container  .textwrap,
#render-container  .textwrap td,
#render-container  .textwrap th {
	word-wrap: break-word;
	word-break: break-all;
}

#render-container  .textwrap-table {
	table-layout: fixed;
}

#render-container  .serif {
	font-family: Palatino, Optima, Georgia, serif;
}

#render-container  p,
#render-container  pre,
#render-container  ul,
#render-container  ol,
#render-container  dl,
#render-container  form,
#render-container  hr,
#render-container  table,
#render-container  .typo-p,
#render-container  .typo-pre,
#render-container  .typo-ul,
#render-container  .typo-ol,
#render-container  .typo-dl,
#render-container  .typo-form,
#render-container  .typo-hr,
#render-container  .typo-table,
#render-container  blockquote {
	margin-bottom: 1.2em;
}

#render-container  h1,
#render-container  h2,
#render-container  h3,
#render-container  h4,
#render-container  h5,
#render-container  h6 {
	font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
	font-weight: lighter;
	color: #000;
	line-height: 1.35;
}

#render-container  h1,
#render-container  h2,
#render-container  h3,
#render-container  h4,
#render-container  h5,
#render-container  h6,
#render-container  .typo-h1,
#render-container  .typo-h2,
#render-container  .typo-h3,
#render-container  .typo-h4,
#render-container  .typo-h5,
#render-container  .typo-h6 {
	margin-top: 1.2em;
	margin-bottom: 0.6em;
	line-height: 1.35;
}

#render-container  h1,
#render-container  .typo-h1 {
	font-size: 2em;
}

#render-container  h2,
#render-container  .typo-h2 {
	font-size: 1.8em;
}

#render-container  h3,
#render-container  .typo-h3 {
	font-size: 1.6em;
}

#render-container  h4,
#render-container  .typo-h4 {
	font-size: 1.4em;
}

#render-container  h5,
#render-container  h6,
#render-container  .typo-h5,
#render-container  .typo-h6 {
	font-size: 1.2em;
}

#render-container  ul,
#render-container  .typo-ul {
	margin-left: 1.3em;
	list-style: disc;
}

#render-container  ol,
#render-container  .typo-ol {
	list-style: decimal;
	margin-left: 1.9em;
}

#render-container  li ul,
#render-container  li ol,
#render-container  .typo-ul ul,
#render-container  .typo-ul ol,
#render-container  .typo-ol ul,
#render-container  .typo-ol ol {
	margin-bottom: 0.8em;
	margin-left: 2em;
}

#render-container  li ul,
#render-container  .typo-ul ul,
#render-container  .typo-ol ul {
	list-style: circle;
}

#render-container  table th,
#render-container  table td,
#render-container  .typo-table th,
#render-container  .typo-table td,
#render-container  table caption {
	border: 1px solid #ddd;
	padding: 0.5em 1em;
	color: #666;
}

#render-container  table th,
#render-container  .typo-table th {
	background: #fbfbfb;
}

#render-container  table thead th,
#render-container  .typo-table thead th {
	background: #f1f1f1;
}

#render-container  table caption {
	border-bottom: none;
}

#render-container  .typo-input,
#render-container  .typo-textarea {
	-webkit-appearance: none;
	border-radius: 0;
}

#render-container  .typo-em,
#render-container  em,
#render-container  legend,
#render-container  caption {
	color: #000;
	font-weight: inherit;
}

#render-container  .typo-em {
	position: relative;
}

#render-container  .typo-em:after {
	position: absolute;
	top: 0.65em;
	left: 0;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	content: "・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・";
}

#render-container  img {
	max-width: 100%;
}

#render-container  .footnotes hr {
	margin-top: 4em;
	margin-bottom: 0.5em;
}

#render-container  pre,
#render-container  code,
#render-container  pre tt {
	font-family: Courier, "Courier New", monospace;
}

#render-container  pre {
	padding: 1em 1.5em;
	display: block;
	-webkit-overflow-scrolling: touch;
}

#render-container  .code-section {
	display: flex;
	background: #f8f8f8;
	border: 1px solid #ddd;
}

#render-container  .code-section pre {
	margin: 0;
	display: block;
	padding: 1em;
	overflow-x: auto;
}

#render-container  .code-section pre code {
	border: none;
	background: #f8f8f8;
	font-size: 1em;
	line-height: 1.8em;
	padding: 0 !important;
	margin: 0 !important;
	text-wrap: nowrap;
}

#render-container  .code-section ul {
	flex-shrink: 0;
	counter-reset: line;
	margin: 0;
	padding: 1em 0 1em 1em;
	white-space: normal;
	width: fit-content;
}

#render-container  .code-section ul > li {
	position: relative;
	margin: 0;
	padding: 0;
	display: list-item;
	text-align: right;
	line-height: 1.8em;
	font-size: 1em;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	padding: 0;
	list-style-type: none;
	text-wrap: nowrap;
}

#render-container  .code-section ul > li::marker {
	content: none;
}
