.lovpen-renderer  {
	min-width: 200px;
	max-width: 760px;
	padding: 3rem 1em 1em;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	word-break: break-word;
	line-height: 1.75;
	font-weight: 400;
	font-size: 15px;
	overflow-x: hidden;
	color: #333;
}

.lovpen-renderer  h1,
.lovpen-renderer  h2,
.lovpen-renderer  h3,
.lovpen-renderer  h4,
.lovpen-renderer  h5,
.lovpen-renderer  h6 {
	line-height: 1.5;
	margin-top: 35px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.lovpen-renderer  h1:first-child,
.lovpen-renderer  h2:first-child,
.lovpen-renderer  h3:first-child,
.lovpen-renderer  h4:first-child,
.lovpen-renderer  h5:first-child,
.lovpen-renderer  h6:first-child {
	margin-top: -1.5rem;
	margin-bottom: 1rem;
}

.lovpen-renderer  h1::before,
.lovpen-renderer  h2::before,
.lovpen-renderer  h3::before,
.lovpen-renderer  h4::before,
.lovpen-renderer  h5::before,
.lovpen-renderer  h6::before {
	content: "#";
	display: inline-block;
	color: #3eaf7c;
	padding-right: 0.23em;
}

.lovpen-renderer  h1 {
	position: relative;
	font-size: 2.5rem;
	margin-bottom: 5px;
}

.lovpen-renderer  h1::before {
	font-size: 2.5rem;
}

.lovpen-renderer  h2 {
	padding-bottom: 0.5rem;
	font-size: 2.2rem;
	border-bottom: 1px solid #ececec;
}

.lovpen-renderer  h3 {
	font-size: 1.5rem;
	padding-bottom: 0;
}

.lovpen-renderer  h4 {
	font-size: 1.25rem;
}

.lovpen-renderer  h5 {
	font-size: 1rem;
}

.lovpen-renderer  h6 {
	margin-top: 5px;
}

.lovpen-renderer  p {
	line-height: inherit;
	margin-top: 22px;
	margin-bottom: 22px;
}

.lovpen-renderer  strong {
	color: #3eaf7c;
}

.lovpen-renderer  img {
	max-width: 100%;
	border-radius: 2px;
	display: block;
	margin: auto;
	border: 3px solid rgba(62, 175, 124, 0.2);
}

.lovpen-renderer  hr {
	border-top: 1px solid #3eaf7c;
	border-bottom: none;
	border-left: none;
	border-right: none;
	margin-top: 32px;
	margin-bottom: 32px;
}

.lovpen-renderer  a {
	font-weight: 500;
	text-decoration: none;
	color: #3eaf7c;
}

.lovpen-renderer  a:hover,
.lovpen-renderer  a:active {
	border-bottom: 1.5px solid #3eaf7c;
}

.lovpen-renderer  a:before {
	content: "⇲";
}

.lovpen-renderer  table {
	display: inline-block !important;
	font-size: 12px;
	width: auto;
	max-width: 100%;
	overflow: auto;
	border: solid 1px #3eaf7c;
}

.lovpen-renderer  thead {
	background: #3eaf7c;
	color: #fff;
	text-align: left;
}

.lovpen-renderer  tr:nth-child(2n) {
	background-color: rgba(62, 175, 124, 0.2);
}

.lovpen-renderer  th,
.lovpen-renderer  td {
	padding: 12px 7px;
	line-height: 24px;
}

.lovpen-renderer  td {
	min-width: 120px;
}

.lovpen-renderer  blockquote {
	color: #666;
	padding: 1px 23px;
	margin: 22px 0;
	border-left: 0.5rem solid rgba(62, 175, 124, 0.6);
	border-color: #42b983;
	background-color: #f8f8f8;
}

.lovpen-renderer  blockquote::after {
	display: block;
	content: "";
}

.lovpen-renderer  blockquote > p {
	margin: 10px 0;
}

.lovpen-renderer  details {
	border: none;
	outline: none;
	border-left: 4px solid #3eaf7c;
	padding-left: 10px;
	margin-left: 4px;
}

.lovpen-renderer  details summary {
	cursor: pointer;
	border: none;
	outline: none;
	background: white;
	margin: 0px -17px;
}

.lovpen-renderer  details summary::-webkit-details-marker {
	color: #3eaf7c;
}

.lovpen-renderer  ol,
.lovpen-renderer  ul {
	padding-left: 28px;
}

.lovpen-renderer  ol li,
.lovpen-renderer  ul li {
	margin-bottom: 0;
	list-style: inherit;
}

.lovpen-renderer  ol li .task-list-item,
.lovpen-renderer  ul li .task-list-item {
	list-style: none;
}

.lovpen-renderer  ol li .task-list-item ul,
.lovpen-renderer  ul li .task-list-item ul,
.lovpen-renderer  ol li .task-list-item ol,
.lovpen-renderer  ul li .task-list-item ol {
	margin-top: 0;
}

.lovpen-renderer  ol ul,
.lovpen-renderer  ul ul,
.lovpen-renderer  ol ol,
.lovpen-renderer  ul ol {
	margin-top: 3px;
}

.lovpen-renderer  ol li {
	padding-left: 6px;
}

.lovpen-renderer  ol li::marker {
	color: #3eaf7c;
}

.lovpen-renderer  ul li::marker {
	color: #3eaf7c;
}

@media (max-width: 720px) {
	.lovpen-renderer  h1 {
		font-size: 24px;
	}

	.lovpen-renderer  h2 {
		font-size: 20px;
	}

	.lovpen-renderer  h3 {
		font-size: 18px;
	}
}

.lovpen-renderer  .footnotes hr {
	margin-top: 4em;
	margin-bottom: 0.5em;
}

.lovpen-renderer  code {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	word-break: break-word;
	overflow-x: auto;
	padding: 0.2rem 0.5rem;
	margin: 0;
	color: #3eaf7c;
	font-size: 0.85em;
	background-color: rgba(27, 31, 35, 0.05);
	border-radius: 3px;
}

.lovpen-renderer  pre {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	overflow: auto;
	position: relative;
	line-height: 1.75;
}

.lovpen-renderer  pre > code {
	font-size: 12px;
	padding: 15px 12px;
	margin: 0;
	word-break: normal;
	display: block;
	overflow-x: auto;
	color: #333;
	background: #f8f8f8;
}

.lovpen-renderer  .code-section {
	display: flex;
	background: #f8f8f8;
	border-radius: 6px;
	border: 2px solid #3eaf7c;
}

.lovpen-renderer  .code-section pre {
	margin: 0;
	display: block;
	padding: 1em;
	overflow-x: auto;
}

.lovpen-renderer  .code-section pre code {
	border: none;
	background: #f8f8f8;
	font-size: 1em;
	line-height: 1.8em;
	padding: 0 !important;
	margin: 0 !important;
	text-wrap: nowrap;
}

.lovpen-renderer  .code-section ul {
	flex-shrink: 0;
	counter-reset: line;
	margin: 0;
	padding: 1em 0 1em 1em;
	white-space: normal;
	width: fit-content;
}

.lovpen-renderer  .code-section ul > li {
	position: relative;
	margin: 0;
	padding: 0;
	display: list-item;
	text-align: right;
	line-height: 1.8em;
	font-size: 1em;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	padding: 0;
	list-style-type: none;
	text-wrap: nowrap;
}

.lovpen-renderer  .code-section ul > li::marker {
	content: none;
}
